@model DataLoader.CriticRatingLoader

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CriticRatingLoader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CriticSite.SiteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriticSite.SiteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieDetailLoader.MovieLoader.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieDetailLoader.MovieLoader.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CriticRatingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
