@model IEnumerable<DataLoader.MovieDetailLoader>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DetailsUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GalleryUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraillerUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieLoader.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DetailsUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GalleryUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TraillerUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieLoader.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MovieDetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MovieDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MovieDetailID })
        </td>
    </tr>
}

</table>
